@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root{
    --dark-bg-color: #1f2937;
    --light-blue: #3882f8;
    --light-bg-color: #e5e7eb;
    --light-text: #f9faf8;
    --title-font: 48px;
    --body-text: 18px;
    --logo-text: 24px;
    --header-quote-text: 36px;
}